@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

/* normliz */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0;
}

/* header contants */
.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header_section {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #3d3d3d;
  margin-top: 40px;
}
.desc-contant {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0 0;
  color: #3d3d3d;
  margin-top: 16px;
}
/* steps */
.stepContainer {
  width: 60%;
  margin: 0 auto;
  padding-top: 30px;
}
.steps {
  display: flex;
  gap: 1px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.stepLine {
  height: 1.5px;
  background-color: #b3b3b3;
  width: 50px;
  position: relative;
}
.stepLine::before {
  content: "";
  right: 0;
  top: -1.1px;
  position: absolute;
  height: 1.5px;
  width: 1.5px;
  border: 1.5px solid;
  border-color: #b3b3b3 #b3b3b3 transparent transparent;
  transform: rotate(40deg);
}

.step {
  width: 30px;
  height: 30px;
  border: 0.5px solid #c6c6c6;
  border-radius: 50%;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}
.step.active {
  background-color: #f5a31b;
  color: white;
  border: 0;
}
/* step content */
.stepsContent {
  display: flex;
  gap: 16%;
  align-items: center;
  justify-content: center;

  padding-top: 3px;
}
.stepContent {
  color: #777;
  width: 71px;
  font-size: 10px;
  text-align: center;
  text-transform: capitalize;
}
.text-Step {
  top: 161%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #7c7c7c;
}
/* layout  */
.containerLayout {
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}
.cardContainer {
}
.card {
  width: 100%;
  cursor: pointer;
  position: relative;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  transition: 0.2s;
}
.cardSlected {
  display: none;
  font-weight: 600;
}
.card.active {
  outline: 4px solid #f5a31b;
}
.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageCard {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.5;
  transition: 0.2s;
}
.card.active .imageCard {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  opacity: 1;
}
.cardContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 21px;
  transition: 0.2s;
  font-weight: 600;
}
/* chack box style */
.checkbox-animate {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
}
.checkbox-animate label {
  cursor: pointer;
  position: relative;
}
.checkbox-animate label input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.input-check {
  display: inline-block;
  width: 25px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid #ccc;
  position: relative;
  top: 6px;
  margin-right: 7px;
  transition: 0.4s;
}
.input-check::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 6px;
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
  transform: scale(0) rotate(-45deg);
  position: absolute;
  top: 6px;
  left: 4px;
  transition: 0.4s;
}

.checkbox-animate label input:checked ~ .input-check {
  background-color: #f5a31b;
  border-color: #f5a31b;
  animation-name: input-animate;
  animation-duration: 0.7s;
}

.checkbox-animate label input:checked ~ .input-check::before {
  transform: scale(1) rotate(-45deg);
  animation-name: input-check;
  animation-duration: 0.2s;
  animation-delay: 0.3s;
}

@keyframes input-animate {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.3, 0.7);
  }
  55% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2, 0.8);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1, 0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes input-check {
  0% {
    transform: scale(0) rotate(-45deg);
  }
  100% {
    transform: scale(1) rotate(-45deg);
  }
}

/* button next */
.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.next_button {
  outline: none;
  border: 0;
  width: 441px;
  background: #9c9c9c;
  box-shadow: 0px 4px 43px rgb(0 0 0 / 10%);
  border-radius: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 56px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.4s;
  cursor: not-allowed;
}
.next_button.active {
  background: #f5a31b;
  cursor: pointer;
}
.next_button:hover {
  transform: scale(0.9);
}

/* media  responsev*/
@media only screen and (min-width: 768px) {
  .card {
    /* width: 13.3%; */
  }
  .cardContent {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .stepLine {
    width: 200px;
  }
  .step {
    width: 40px;
    height: 40px;
    font-weight: bold;
  }
  .stepsContent {
    gap: 24%;
  }
  .cardContent.active {
    transform: translate(-50%, -50%) !important;
  }
  .card:hover .cardContent {
    transform: translate(-50%, 258%);
  }
  .card:hover .imageCard {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity: 1;
  }
  .cardSlected.active {
    transform: translate(-50%, 234%) !important;
  }
  .card:hover .cardSlected {
    transform: translate(-50%, -50%);
  }
  .header_section {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
  }
  .cardSlected {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, 234%);
    color: white;
    font-size: 18px;
    transition: 0.2s;
    background: #f5a31b;
    border-radius: 10px;
    width: 12;
    padding: 3px 25px;
    display: block;
    transition: 0.2s;
  }
  .desc-contant {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
  .text-Step {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 160px;
  }
}
@media only screen and (max-width: 768px) {
  /* button respons */
  .button_container {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }
  .next_button {
    width: 90%;
    height: 80px;
    padding: 8px 20px;
    font-size: 26px;
    border-radius: 15px 15px 0 0;
  }
  .next_button:hover {
    transform: scale(1);
  }

  .twark {
    position: relative;
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    cursor: pointer;
  }
  .twark:hover {
    animation-name: shakeAnim;
  }

  @keyframes shakeAnim {
    0% {
      left: 0;
    }
    1% {
      left: -3px;
    }
    2% {
      left: 5px;
    }
    3% {
      left: -8px;
    }
    4% {
      left: 8px;
    }
    5% {
      left: -5px;
    }
    6% {
      left: 3px;
    }
    7% {
      left: 0;
    }
  }
  @keyframes shake {
    0% {
      left: 0;
    }
    1% {
      left: -3px;
    }
    2% {
      left: 5px;
    }
    3% {
      left: -8px;
    }
    4% {
      left: 8px;
    }
    5% {
      left: -5px;
    }
    6% {
      left: 3px;
    }
    7% {
      left: 0;
    }
  }

  .containerLayout {
    margin-bottom: 87px;
    width: auto;
  }
}
